@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>订单管理</h5>
            </div>
             <div class="tab-content" style="margin-top:20px">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                	<li role="presentation"  class="active"  onclick="Order.current(0)">
                    	<a href="#statu0" role="tab"  data-toggle="tab">待付款</a>
                    </li>
                    <li role="presentation " onclick="Order.current(4)">
                   	 	<a href="#status4" role="tab"  data-toggle="tab">待审核</a>
                    </li>
                    <li role="presentation" onclick="Order.current(1)">
                    	<a href="#statu1" role="tab"   data-toggle="tab">待发货</a>
                    </li>
                    <li role="presentation" onclick="Order.current(2)">
                    	<a href="#statu2" role="tab"   data-toggle="tab">待收货</a>
                    </li>
                    <li role="presentation" onclick="Order.current(3)">
                    	<a href="#statu3" role="tab"   data-toggle="tab">已完成</a>
                    </li>
                </ul>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="单号" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Order.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Order.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="OrderTableToolbar" role="group">
                        	<#button name="订单详情"  id="selectOrderDetail" icon="fa-search" clickFun="Order.selectOrderDetail()" space="true"/>
                        	<#button name="删除"  id="del" style="margin-top:30px;" icon="fa-remove" clickFun="Order.del()" space="true"/>
                        	<#button name="添加物流"  id="openAdd" icon="fa-plus" clickFun="Order.openAdd()" space="true"/>
                        	<#button name="查看物流"  id="searchTracking" icon="fa-truck" clickFun="Order.searchTracking()" space="true"/>
                            <#button name="修改订单"  id="openChange" icon="fa-edit" clickFun="Order.openChange()" space="true"/>
                             <#button name="订单完成"  id="affirmFinish"  icon="fa-check-square-o" clickFun="Order.affirmFinish()" space="true"/>
                            <#button name="通过"  id="pass"  icon="fa-check-square-o" clickFun="Order.pass()" space="true"/>
                            <#button name="驳回"  id="reject" icon="fa-remove" clickFun="Order.reject()" space="true"/>
                        </div>
                        <#table id="OrderTable"/>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
<style>
img{
	width:47px;
	height:auto;
}
</style>
<script src="${ctxPath}/static/modular/biz/order/order.js"></script>
@}
