@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>商品管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Basicinfo.search()"/>
                                <#button name="重置" icon="fa-trash" clickFun="Basicinfo.resetSearch()" space="true"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="BannerTableToolbar" Banner="group">
                        	<#button name="添加" style="margin-top:30px;" icon="fa-plus" clickFun="Basicinfo.openAdd()" space="true"/>
                            <#button name="修改" style="margin-top:30px;" icon="fa-edit" clickFun="Basicinfo.openChange()" space="true"/>
                            <#button name="删除" style="margin-top:30px;" icon="fa-remove" clickFun="Basicinfo.del()" space="true"/>
                            <#button name="商品图片" style="margin-top:30px;" icon="fa-search" clickFun="Basicinfo.editPic()" space="true"/>
                           <!--  <#button name="添加图片" style="margin-top:30px;" icon="fa-plus" clickFun="Basicinfo.addPic()" space="true"/> -->
                            <#button name="规格配置" icon="fa-user-secret" clickFun="Basicinfo.assign()" space="true"/>
                             <#button name="首页推荐" icon="fa-plus" clickFun="Basicinfo.recommend()" space="true"/>
                        </div>
                        <#table id="BasicinfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
<style>
img{
	width:47px;
	height:auto;
}
img:hover {
	transform:scale(5)
}
</style>
<script src="${ctxPath}/static/modular/biz/basicinfo/basicinfo_xd.js"></script>
@}
